body
{
	background-color: #EFF0F3;
}


.container
{
	margin-top: 10px;
	width: 25%;
	margin-left: 1px;
}

#form-control
{
	
	float: left;
	margin-right: 5%;

}

.btn
{
	background: #2FCC9A;
	border: 2px solid #228E6C;
	border-radius: 10px;
	padding: 10px 10px;
	margin-left: 130px;
	margin-top: 5px;

}

h1
{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
}

.taskList
{
	width: 200px; 
    background: #fc0; 
    padding: 5px; 
    border: solid 1px black; 
    float: left; 
    position: relative; 
    top: 40px; 
    margin-left: 80px;


}

h6
{
	margin-left: 145px;
}

#xx
{
	background: #2FCC9A;
	border: 2px solid #228E6C;
	border-radius: 10px;
	padding: 10px 10px;
	margin-top: 200px;
	

}